<div class="col-lg-6 col-md-6">
    <nav class="header__menu mobile-menu">
        <ul>
            <li><a href="#">Pages</a>
                <ul class="dropdown">
                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                    <!-- <li><a href="./shop-details.html">Shop Details</a></li> -->
                    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                    <!-- <li><a href="./checkout.html">Check Out</a></li> -->
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>