{% extends "base.html" %} {% load static %} {% block content %}


<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 col-xl-11">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <h3 class='title mb-4'>Post Blog</h3>
            </div>

            <div>
                <form method="post" enctype="multipart/form-data" style="display: flex;flex-direction: column;gap:30px;">
                    {% csrf_token %} {{ form.media }} {{ form.title }} {{ form.b_image }} {{ form.descriptions }}<br>
                    <input class="btn btn-primary" style="width:150px;" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}